<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  Get help on the sample app at the below links.
  <li><a href="https://www.google.com/#q=ruby+on+rails" target=_blank>Google</a></li>
  <li><a href="http://rubyonrails.org/" target=_blank>Ruby on Rails</a></li>
</p>
