<% provide(:title, "Home") %>
<h1>Sample App</h1>
<p>
  This is the home page for the
  <a href="https://infinite-forest-42974.herokuapp.com" target=_blank><em>Sample App</em></a>
Ruby on Rails sample application.
</p>
